:root {
  --body-color: rgb(0, 0, 0);
  --body-background-color: rgb(255, 255, 255);
  --body-background-color-left: #74ebd5;
  --body-background-color-right: #acb6e5;
  --main-text-color: #08314c;

  --font-family: 'Arial', sans-serif;
  --font-size: 16px;
  --font-size-large: 1.5rem;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 2rem;
  --spacing-xxlarge: 3rem;

  --underline-height: 3px;
  --underline-adjustment: 2px;
}
